---
const { isPic } = Astro.props;
---

<div class="sm:w-[40vw] sm:h-[40vw] nm:w-[178px] nm:h-[178px] xl:w-[175px] xl:h-[175px] rounded-3xl overflow-hidden shadow-lg hover:scale-105 transition-transform" >
  <slot></slot>
</div>
