---
const { isPic } = Astro.props;
---
<div class="h-[380px] w-[175px] xl:w-[175px] xl:h-[390px] rounded-3xl overflow-hidden shadow-lg hover:scale-105 transition-transform" class={isPic ? '': 'p-6'}>
  <slot></slot>
</div>